<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daisy.bangsen.dao.AllocationDao">

    <select id="selectByParam" parameterType="HashMap" resultType="com.daisy.bangsen.entity.bussiness.Allocation">
        SELECT *from t_allocation
        where 1=1
        <if test="serial_name != null and '' != serial_name">
            and serial_name like "%"#{serial_name}"%"
        </if>
        <if test="realTime_sta != null and '' != realTime_sta">
            and allocate_date  &gt; #{realTime_sta}
        </if>

           <if test="realTime_end != null and '' != realTime_end">
            and allocate_date &lt;  #{realTime_end}
        </if>
    </select>

</mapper>
