<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daisy.bangsen.dao.CsaleDao">

    <select id="selectByParam" parameterType="HashMap" resultType="com.daisy.bangsen.entity.bussiness.Csale">
        SELECT *from t_csale
        where 1=1
        <if test="sales_name != null and '' != sales_name">
            and sales_name like "%"#{sales_name}"%"
        </if>

              <if test="customer_name != null and '' != customer_name">
            and customer_name like "%"#{customer_name}"%"
        </if>

              <if test="sales_status != null and '' != sales_status">
            and sales_status = #{sales_status}
        </if>

              <if test="receipt_number != null and '' != receipt_number">
            and receipt_number = #{receipt_number}
        </if>
    </select>

</mapper>
