<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daisy.bangsen.dao.InventoryDao">

    <select id="selectByParam" parameterType="HashMap" resultType="com.daisy.bangsen.entity.bussiness.Inventory">
        SELECT *from t_inventory
        where 1=1
        <if test="serial_name != null and '' != serial_name">
            and serial_name like "%"#{serial_name}"%"
        </if>
        <if test="warehouse_name != null and '' != warehouse_name">
            and warehouse_name like "%"#{warehouse_name}"%"
        </if>
    </select>

</mapper>
