<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daisy.bangsen.dao.LeadgerDao">

    <select id="selectByParam" parameterType="HashMap" resultType="com.daisy.bangsen.entity.financial.Ledger">
        SELECT *from t_ledger
        where 1=1
        <if test="project_name != null and '' != project_name">
            and project_name like "%"#{project_name}"%"
        </if>
    </select>

</mapper>
